<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="baseUrl" class="java.lang.String">
        <constructor-arg value="http://xgoe.gbv.de:9090/lbs4/"/>
    </bean>

    <bean id="proxyConfigBean" class="de.unigoettingen.sub.be.ous.lbs4.proxy.ProxyConfig" init-method="init">
        <property name="baseUrl" ref="baseUrl"/>
        <property name="filters">
            <list>
                <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.FilterContainer">
                    <constructor-arg ref="baseUrl"/>

                    <property name="filters">
                        <list value-type="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.Filter">
                            <!-- RegExContentFilter gcf1 = new RegExContentFilter('^.*lbs4.html$', '^(.{340}).{240}(.*)$', '$1$2') -->
                            <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.RegExContentFilter">
                                <constructor-arg value="^.*lbs4.html$"/>
                                <!--
                                    This might be updated for new versions of LBS4 Client
                                -->
                                <constructor-arg value="^(.{560}).{235}(.*)$"/>
                                <constructor-arg value="$1$2"/>
                            </bean>

                            <!-- Disables Scriptor -->
                            <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.RegExContentFilter">
                                <constructor-arg value="^.*lbs4.html$"/>
                                <constructor-arg value="var loadScriptor = &quot;\\w*?&quot;;"/>
                                <constructor-arg value="var loadScriptor = &quot;0&quot;;"/>
                            </bean>

                            <!-- RegExContentFilter gcf2 = new RegExContentFilter('^.*lbs4.html$', '^(.*)var lng = window.navigator.systemLanguage;(.*)$', '$1var lng = window.navigator.systemLanguage || window.navigator.language;$2') -->
                            <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.RegExContentFilter">
                                <constructor-arg value="^.*lbs4.html$"/>
                                <constructor-arg value="^(.*)window.navigator.systemLanguage(.*)$"/>
                                <constructor-arg
                                        value="$1window.navigator.systemLanguage || window.navigator.language$2"/>
                            </bean>

                            <!-- RegExContentFilter gcf3 = new RegExContentFilter('^.*login_.*$', '//xgoe\\.gbv\\.de:9600/servlet/lbsInfo', '//xgoe\\.gbv\\.de:9090/servlet/lbsInfo') -->
                            <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.RegExContentFilter">
                                <constructor-arg value="^.*login_.*$" type="java.lang.String"/>
                                <constructor-arg value="//xgoe\.gbv\.de:9600/servlet/lbsInfo" type="java.lang.String"/>
                                <constructor-arg value="//xgoe\.gbv\.de:9090/servlet/lbsInfo" type="java.lang.String"/>
                            </bean>

                            <!-- RequestRewriteFilter rrf = new RequestRewriteFilter('^http://xgoe.gbv.de:9090/servlet.*$', '^http://xgoe.gbv.de:9090/servlet(.*)$', 'http://xgoe.gbv.de:9600/servlet$1') -->
                            <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.RequestRewriteFilter">
                                <constructor-arg value="^http://xgoe.gbv.de:9090/servlet.*$" type="java.lang.String"/>
                                <constructor-arg value="^http://xgoe.gbv.de:9090/servlet(.*)$" type="java.lang.String"/>
                                <constructor-arg value="http://xgoe.gbv.de:9600/servlet$1" type="java.lang.String"/>
                            </bean>

                            <!-- CookieHttpResponseFilter chrf = new CookieHttpResponseFilter('^http://xgoe.gbv.de.*$', new Tuple2<String, String>('servletUrl=http%3A%2F%2Fxgoe.gbv.de%3A9600', 'servletUrl=http%3A%2F%2Fxgoe.gbv.de%3A9090')) -->
                            <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.CookieHttpResponseFilter">
                                <constructor-arg value="^http://xgoe.gbv.de.*$"/>
                                <constructor-arg>
                                    <bean class="groovy.lang.Tuple2">
                                        <constructor-arg value="servletUrl=http%3A%2F%2Fxgoe.gbv.de%3A9600"/>
                                        <constructor-arg value="servletUrl=http%3A%2F%2Fxgoe.gbv.de%3A9090"/>
                                    </bean>
                                </constructor-arg>
                            </bean>

                            <!-- JavaScriptContentFilter jscf = new JavaScriptContentFilter('^.*\\.js$') -->
                            <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.JavaScriptContentFilter">
                                <constructor-arg value="^.*\.js$"/>
                                <property name="rewriter">
                                    <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.javascript.rewrite.RewriteContainer">
                                        <property name="rewriter">
                                            <list value-type="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.javascript.rewrite.BaseRewrite">
                                                <!--
                                                jscf.addRewite(new WindowNavigateRewrite())
                                                jscf.addRewite(new AddEventListenerRewrite())
                                                jscf.addRewite(new WindowEventRewrite())
                                                -->
                                                <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.javascript.rewrite.AddEventListenerRewrite"/>
                                                <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.javascript.rewrite.WindowEventRewrite"/>
                                                <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.javascript.rewrite.WindowNavigateRewrite"/>
                                            </list>
                                        </property>
                                    </bean>
                                </property>
                            </bean>

                            <!-- ffc.addFilter(new LanguageFilter('en', 'de')) -->
                            <bean class="de.unigoettingen.sub.be.ous.lbs4.proxy.filters.lbs4.LanguageFilter">
                                <constructor-arg value="en"/>
                                <constructor-arg value="de"/>
                            </bean>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
</beans>